@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a:link, a:visited, a:hover, a:active {
  color: #e5e7eb;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/*NAVBAR*/

.navbar {
  background-color: #1f2937;
  height: 60px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.navbar .links {
  display: flex;
  font-size: 18px;
}

.navbar .links li {
  margin-left: 32px;
}

/* HERO */

.header {
  background-color: #1f2937;
  height: 350px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
}

.header .text {
  width: 400px;
}

.header .text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.header .text p {
  font-size: 18px;
  color: #e5e7eb;
}

.header .text button {
  background-color: #3882f6;
  color: #f9faf8;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  padding: 3px 16px;
  margin-top: 10px;
}

.header .image {
  color: #e5e7eb;
  background-color: #6d747d;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN */

.main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .main-box {
  display: flex;
}

.main .main-text {
  font-weight: 900;
  margin-bottom: 32px;
  margin-top: 32px;
}

.blank-box-container {
  width: 140px;
  margin-inline: 30px;
}

.blank-box {
  height: 140px;
  width: 140px;
  border: 3px solid #3882f6;
  border-radius: 12px;
}

.box-text {
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
}

/* MAIN 2 */

.main-2 {
  background-color: #e5e7eb;
  height: 350px;
}

.main-2 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 100%;
  margin-top: 70px;
}

.main-2 .quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  text-align: left;
  padding-bottom: 12px;
}

.main-2 .quoted {
  font-size: 24px;
  font-weight: 900;
  align-self: flex-end;
  margin-right: 24px;
}

/* INFORMATION */

.information {
  height: 300px;
  display: flex;
  align-items: center;
}

.information .container {
  display: flex;
  height: 120px;
  width: 900px;
  background-color: #3882f6;
  border-radius: 8px;
  align-items: center;
  justify-content: space-evenly;
}

.information .text {
  color: #f9faf8;
}

.information .top-text {
  font-size: 20px;
  font-weight: 900;
}

.information .bottom-text {
  font-size: 16px;
  font-weight: 400;
}

.information button {
  background-color: #3882f6;
  color: #f9faf8;
  box-shadow: none;
  border: 2px solid #f9faf8;
  border-radius: 5px;
  padding: 3px 20px;
}

/* FOOTER */

.footer {
  height: 70px;
  background-color: #1f2937;
}

.footer .container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.footer .text {
  color: #e5e7eb;
  font-size: 12px;
  font-weight: 300;
}